/* styles.css */

/* Style for the search container */
#search-container {
    margin-bottom: 20px;
}

/* Style for the search input */
#search {
    padding: 5px;
    margin-right: 5px;
}

/* Style for the search button */
#search-btn {
    padding: 5px 10px;
    cursor: pointer;
}

/* Style for the result container */
#result-container {
    margin-top: 10px;
}

/* Style for the result span */
#result {
    font-weight: bold;
    color: green;
}


.error {
    color: #ff0000;
}

.search-icon {
    width: 40px; /* Adjust the width of the search icon */
    height: 40px; /* Adjust the height of the search icon */
    margin: 0 5px; /* Add some spacing between the search icon and the search button */
}

#form{
    width: 400px;
    margin: 2vh auto 0 auto;
    background-color: whitesmoke;

    padding: 20px;
    border-radius: 5px;

}

/* Result styles */
.result p {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.result img.profile-photo {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 80px; /* Increased size */
    height: 80px; /* Increased size */
}

.result p {
    margin-bottom: 10px;
}

.result p:last-child {
    margin-bottom: 0;
}

/* Style individual fields */
.result p span {
    font-weight: bold;
    color: #333333;
}

.result p img {
    margin-right: 1000px;
}
